/*color: rgb(63, 63, 151) anaranjado*/
/*    color: rgb(63, 63, 151)  azul*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,300;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*background: rgb#2125291c;*/
    font-family: 'Roboto', sans-serif;
	
}

header {
    position: fixed;
    width: 100%;
    
}


.nav__container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 253, 255);

}

.nav__input:checked +.nav__menu{
    background: rgb(255, 148, 6);
}
.nav__label, .nav__input {

    display: none;
}

.nav__item {
    font-size: 1.2em;
    color:rgb(63, 63, 151) ;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
}

.nav__item::after {
    content: "";
    display: block;
    background: rgb(63, 63, 151);
    width: 90%;
    margin-top: 3px;
    height: 4px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
    
    


}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);


}
.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    
}

.sectionDiv1 {
    background: rgb(63, 63, 151);
    display: flex;
    justify-content: space-around;
}

.contact2 {
    margin-top: 1%;
    font-size: 1.5em;
    color: white;
    background: rgb(63, 63, 151);
}

.contact2 > a {
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(63, 63, 151);
}

.contact2 > a > svg{

    background: rgb(63, 63, 151);

}

.sinLink {
    background: rgb(63, 63, 151);
}

.vitroAnimado {
    background: rgb(63, 63, 151);
}

.nav__logo {
    background: rgb(255, 253, 255);
}


.principal {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.tarjetas {
    background: none;
}
/* estilos de grilla 9x9 */
.contenedorGrillas {
    border: 5px solid #e1bee7;
    background:none;
    display: grid;
    grid-template-rows: auto auto auto;
    
    grid-auto-flow: row;
    
    justify-items: center;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
    background:none;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / 3;
}
h2{
    background-color: rgba(255, 166, 0, 0.342);
    font-size: 1.5em;
}

/*inicio estilos imagen de seguros*/

  
  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
  .word {
    position: absolute;
    width: 220px;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #8e44ad;
  }
  
  .belize {
    color: #2980b9;
  }
  
  .pomegranate {
    color: #c0392b;
  }

.seguros {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    background: none;
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 8%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    

    }
.imagenSeguros {
    max-width: 750px;
    width: 100%;
    height: auto;
    }

.seguros{
    position: relative;
    display: inline-block;
    text-align: center;
    }
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/* fin de estilos de imagen de seguros*/
.carrucelServicios{
    width: 96%;
    max-width: 400px;
    margin: 0 auto;
    background: none;
    text-align: center;
    color: rgb(4, 4, 131);
    font-family:Georgia, 'Times New Roman', Times, serif
} 

.imagendeCarrucel{
    width: 100%;
    height: auto;
}
    

    .cardRepEleva {
        background: rgba(148, 100, 10, 0.411);
    }
    .cardRepEleva > p {
        background: none;
    }

    

    /* Estilos del carrucel*/

    .carrusel__lista2  {
        
        background: white;
        color: black;
        font-weight: 600;
        
    }
    .carrusel__elemento {
        margin-top: 20px;
        margin-left: 20px;
    }
    

    .imagenesDelCarrucel {
        width: 96%;
        height: 80%;
    }
    .carrusel__contenedor2{
        position: relative;


    }

    .carrusel__anterior2 {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background: rgba(128, 128, 128, 0.692);
        color: black;
        opacity: 100%;
    }

    .carrusel__next {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        background: none;
        color: black;
        opacity: 100%;

        

    }
   

    /*fin estilos carrucel*/


    /* estilos del formulario */
    
    
    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /*background:#E5E5E5; */
        background: transparent;
        color: white;
        font-size: 1.5rem;
        margin: 1% 1% 1% 1%;
    }
    
    .formulario__label {
        display: block;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        background: transparent;
        
        
    }
    
    .formulario__grupo-input {
        position: relative;
        
    }
    
    .formulario__input {
        width: 100%;
        background: rgb(0 0 0 / 15%);
        
        /*background: #fff;*/
        border: 3px solid transparent;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        padding: 0 40px 0 10px;
        transition: .3s ease all;
    }
    
    .formulario__input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    }
    
    .formulario__input-error {
        font-size: 12px;
        margin-bottom: 0;
        display: none;
    }
    
    .formulario__input-error-activo {
        display: block;
    }
    
    .formulario__validacion-estado {
        position: absolute;
        right: 10px;
        bottom: 15px;
        z-index: 100;
        font-size: 16px;
        opacity: 0;
    }
    
    .formulario__checkbox {
        margin-right: 10px;
    }
    
    .formulario__grupo-terminos, 
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: span 2;
    }
    
    .formulario__mensaje {
        height: 45px;
        line-height: 45px;
        background: #F66060;
        padding: 0 15px;
        border-radius: 3px;
        display: none;
    }
    
    .formulario__mensaje-activo {
        display: block;
    }
    
    .formulario__mensaje p {
        margin: 0;
    }
    
    .formulario__grupo-btn-enviar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .formulario__btn {
        height: 45px;
        line-height: 45px;
        width: 30%;
        background: #000;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: .1s ease all;
    }
    
    .formulario__btn:hover {
        box-shadow: 3px 0px 30px rgba(163,163,163, 1);
    }
    
    .formulario__mensaje-exito {
        font-size: 14px;
        color: #119200;
        display: none;
    }
    
    .formulario__mensaje-exito-activo {
        display: block;
    }
    
    /* ----- -----  Estilos para Validacion ----- ----- */
    .formulario__grupo-correcto .formulario__validacion-estado {
        color: #1ed12d;
        opacity: 1;
    }
    
    .formulario__grupo-incorrecto .formulario__label {
        color: #bb2929;
    }
    
    .formulario__grupo-incorrecto .formulario__validacion-estado {
        color: #bb2929;
        opacity: 1;
    }
    
    .formulario__grupo-incorrecto .formulario__input {
        border: 3px solid #bb2929;
    }
     /*----------mapas-----------*/
    
    .contendor-grid {
        display: grid;
    }
     /*------------fin mapas------- */

    /* ----- estilos del fooder ----*/

    .cover{
        width: 100%;
        height: 500px;
        background: var(--color-esqueleto);
        margin-top: 20px;
    }
    
    .container__article{
        max-width: 1000px;
        padding: 0px 20px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .container__article .box__article{
        width: 200px;
        height: 250px;
        background: var(--color-esqueleto);
        margin: 20px;
    }
    /* inicio estilos de los mapas */

    .contendor-grid-mapas {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat( auto-fit, minmax(min(100%, 35rem), 1fr));
        column-gap: 10px;
        
    }
    .contendor-grid-mapas2 {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        grid-template-columns: repeat( auto-fit, minmax(35rem, 1fr));
        
    }

    /* fin estilos de los mapas */
    /*Aquí debajo va el FOOTER*/
    
    footer{
        width: 100%;
        padding: 50px 0px;
        background-image: url(../Images/background-footer.svg);
        background-size: cover;
        
        /*background-color: #d0f0f8;
        -webkit-mask-image: url("../Images/background-footer.svg");
        mask-image: url("../Images/background-footer.svg");
        -webkit-mask-size: cover;
        mask-size: cover;*/
    }
    .texto-justificado{
        text-align: justify;
    }
    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
    }
    
    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    
    .box__footer .logo img{
        width: 180px;
    }
    
    .box__footer .terms{
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
    }
    
    .box__footer h2{
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700;
    }
    
    .box__footer a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
    }
    
    .box__footer a:hover{
        opacity: 0.8;
    }
    
    .box__footer a .fab{
        font-size: 20px;
    }
    
    .box__copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }
    
    .box__copyright p{
        margin-top: 20px;
        color: #7a7a7a;
    }
    
    .box__copyright hr{
        border: none;
        height: 1px;
        background-color: #7a7a7a;
    }


    /*------- fin de estilos de fooder ----*/

    /* ----- -----  Mediaqueries ----- ----- */
    @media screen and (max-width: 800px) {
        .formulario {
            grid-template-columns: 1fr;
        }
    
        .formulario__grupo-terminos, 
        .formulario__mensaje,
        .formulario__grupo-btn-enviar {
            grid-column: 1;
        }
    
        .formulario__btn {
            width: 100%;
        }
    }

    /* fin de estilos del formulario */

@media (max-width: 800px) {

    .nav__label {
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        

        position: fixed;
        top: 90px;
        bottom: 0;
        background: rgb(255, 148, 6);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        margin-top: 90px;
        
    }

    .nav__item {
        background: rgb(255, 148, 6);
    }
    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }
    .nav__logo {
        margin-left: 35%;
        
    }
}

@media (max-width: 720px) {
    .contact2 {
        display: none;
    }
    .nav__logo {
        margin-left: 25%;
        
    }

}
